<div ng-controller="MyController">
    <div class="row">
        <div class="col-md-3">
            <select class="form-control" ng-model="selectedProject" ng-options="p.TfsProjectName for p in projects">
                <option value="" selected>SELECT A PROJECT</option>
            </select>
        </div>
        <div class="col-md-7">
            <label class="control-label">{{selectedProject.TfsProjectName}}</label>
        </div>
    </div>
</div>